/**public/global.css**/
:root {
  /* --layout_-_display: flex;
  --layout-inline_-_display: inline-flex;
  --layout-horizontal_-_display: var(--layout_-_display);
  --layout-horizontal_-_-ms-flex-direction: row;
  --layout-horizontal_-_-webkit-flex-direction: row;
  --layout-horizontal_-_flex-direction: row;
  --layout-horizontal-reverse_-_display: var(--layout_-_display);
  --layout-horizontal-reverse_-_-ms-flex-direction: row-reverse;
  --layout-horizontal-reverse_-_-webkit-flex-direction: row-reverse;
  --layout-horizontal-reverse_-_flex-direction: row-reverse;
  --layout-vertical_-_display: var(--layout_-_display);
  --layout-vertical_-_-ms-flex-direction: column;
  --layout-vertical_-_-webkit-flex-direction: column;
  --layout-vertical_-_flex-direction: column;
  --layout-vertical-reverse_-_display: var(--layout_-_display);
  --layout-vertical-reverse_-_-ms-flex-direction: column-reverse;
  --layout-vertical-reverse_-_-webkit-flex-direction: column-reverse;
  --layout-vertical-reverse_-_flex-direction: column-reverse;
  --layout-wrap_-_-ms-flex-wrap: wrap;
  --layout-wrap_-_-webkit-flex-wrap: wrap;
  --layout-wrap_-_flex-wrap: wrap;
  --layout-wrap-reverse_-_-ms-flex-wrap: wrap-reverse;
  --layout-wrap-reverse_-_-webkit-flex-wrap: wrap-reverse;
  --layout-wrap-reverse_-_flex-wrap: wrap-reverse;
  --layout-flex-auto_-_-ms-flex: 1 1 auto;
  --layout-flex-auto_-_-webkit-flex: 1 1 auto;
  --layout-flex-auto_-_flex: 1 1 auto;
  --layout-flex-none_-_-ms-flex: none;
  --layout-flex-none_-_-webkit-flex: none;
  --layout-flex-none_-_flex: none;
  --layout-flex_-_-ms-flex: 1 1 0.000000001px;
  --layout-flex_-_-webkit-flex: 1;
  --layout-flex_-_flex: 1;
  --layout-flex_-_-webkit-flex-basis: 0.000000001px;
  --layout-flex_-_flex-basis: 0.000000001px;
  --layout-flex-2_-_-ms-flex: 2;
  --layout-flex-2_-_-webkit-flex: 2;
  --layout-flex-2_-_flex: 2;
  --layout-flex-3_-_-ms-flex: 3;
  --layout-flex-3_-_-webkit-flex: 3;
  --layout-flex-3_-_flex: 3;
  --layout-flex-4_-_-ms-flex: 4;
  --layout-flex-4_-_-webkit-flex: 4;
  --layout-flex-4_-_flex: 4;
  --layout-flex-5_-_-ms-flex: 5;
  --layout-flex-5_-_-webkit-flex: 5;
  --layout-flex-5_-_flex: 5;
  --layout-flex-6_-_-ms-flex: 6;
  --layout-flex-6_-_-webkit-flex: 6;
  --layout-flex-6_-_flex: 6;
  --layout-flex-7_-_-ms-flex: 7;
  --layout-flex-7_-_-webkit-flex: 7;
  --layout-flex-7_-_flex: 7;
  --layout-flex-8_-_-ms-flex: 8;
  --layout-flex-8_-_-webkit-flex: 8;
  --layout-flex-8_-_flex: 8;
  --layout-flex-9_-_-ms-flex: 9;
  --layout-flex-9_-_-webkit-flex: 9;
  --layout-flex-9_-_flex: 9;
  --layout-flex-10_-_-ms-flex: 10;
  --layout-flex-10_-_-webkit-flex: 10;
  --layout-flex-10_-_flex: 10;
  --layout-flex-11_-_-ms-flex: 11;
  --layout-flex-11_-_-webkit-flex: 11;
  --layout-flex-11_-_flex: 11;
  --layout-flex-12_-_-ms-flex: 12;
  --layout-flex-12_-_-webkit-flex: 12;
  --layout-flex-12_-_flex: 12;
  --layout-start_-_-ms-flex-align: start;
  --layout-start_-_-webkit-align-items: flex-start;
  --layout-start_-_align-items: flex-start;
  --layout-center_-_-ms-flex-align: center;
  --layout-center_-_-webkit-align-items: center;
  --layout-center_-_align-items: center;
  --layout-end_-_-ms-flex-align: end;
  --layout-end_-_-webkit-align-items: flex-end;
  --layout-end_-_align-items: flex-end;
  --layout-baseline_-_-ms-flex-align: baseline;
  --layout-baseline_-_-webkit-align-items: baseline;
  --layout-baseline_-_align-items: baseline;
  --layout-start-justified_-_-ms-flex-pack: start;
  --layout-start-justified_-_-webkit-justify-content: flex-start;
  --layout-start-justified_-_justify-content: flex-start;
  --layout-center-justified_-_-ms-flex-pack: center;
  --layout-center-justified_-_-webkit-justify-content: center;
  --layout-center-justified_-_justify-content: center;
  --layout-end-justified_-_-ms-flex-pack: end;
  --layout-end-justified_-_-webkit-justify-content: flex-end;
  --layout-end-justified_-_justify-content: flex-end;
  --layout-around-justified_-_-ms-flex-pack: distribute;
  --layout-around-justified_-_-webkit-justify-content: space-around;
  --layout-around-justified_-_justify-content: space-around;
  --layout-justified_-_-ms-flex-pack: justify;
  --layout-justified_-_-webkit-justify-content: space-between;
  --layout-justified_-_justify-content: space-between;
  --layout-center-center_-_-ms-flex-align: var(
    --layout-center_-_-ms-flex-align
  );
  --layout-center-center_-_-webkit-align-items: var(
    --layout-center_-_-webkit-align-items
  );
  --layout-center-center_-_align-items: var(--layout-center_-_align-items);
  --layout-center-center_-_-ms-flex-pack: var(
    --layout-center-justified_-_-ms-flex-pack
  );
  --layout-center-center_-_-webkit-justify-content: var(
    --layout-center-justified_-_-webkit-justify-content
  );
  --layout-center-center_-_justify-content: var(
    --layout-center-justified_-_justify-content
  );
  --layout-self-start_-_-ms-align-self: flex-start;
  --layout-self-start_-_-webkit-align-self: flex-start;
  --layout-self-start_-_align-self: flex-start;
  --layout-self-center_-_-ms-align-self: center;
  --layout-self-center_-_-webkit-align-self: center;
  --layout-self-center_-_align-self: center;
  --layout-self-end_-_-ms-align-self: flex-end;
  --layout-self-end_-_-webkit-align-self: flex-end;
  --layout-self-end_-_align-self: flex-end;
  --layout-self-stretch_-_-ms-align-self: stretch;
  --layout-self-stretch_-_-webkit-align-self: stretch;
  --layout-self-stretch_-_align-self: stretch;
  --layout-self-baseline_-_-ms-align-self: baseline;
  --layout-self-baseline_-_-webkit-align-self: baseline;
  --layout-self-baseline_-_align-self: baseline;
  --layout-start-aligned_-_-ms-flex-line-pack: start;
  --layout-start-aligned_-_-ms-align-content: flex-start;
  --layout-start-aligned_-_-webkit-align-content: flex-start;
  --layout-start-aligned_-_align-content: flex-start;
  --layout-end-aligned_-_-ms-flex-line-pack: end;
  --layout-end-aligned_-_-ms-align-content: flex-end;
  --layout-end-aligned_-_-webkit-align-content: flex-end;
  --layout-end-aligned_-_align-content: flex-end;
  --layout-center-aligned_-_-ms-flex-line-pack: center;
  --layout-center-aligned_-_-ms-align-content: center;
  --layout-center-aligned_-_-webkit-align-content: center;
  --layout-center-aligned_-_align-content: center;
  --layout-between-aligned_-_-ms-flex-line-pack: justify;
  --layout-between-aligned_-_-ms-align-content: space-between;
  --layout-between-aligned_-_-webkit-align-content: space-between;
  --layout-between-aligned_-_align-content: space-between;
  --layout-around-aligned_-_-ms-flex-line-pack: distribute;
  --layout-around-aligned_-_-ms-align-content: space-around;
  --layout-around-aligned_-_-webkit-align-content: space-around;
  --layout-around-aligned_-_align-content: space-around;
  --layout-block_-_display: block;
  --layout-invisible_-_visibility: hidden !important;
  --layout-relative_-_position: relative;
  --layout-fit_-_position: absolute;
  --layout-fit_-_top: 0;
  --layout-fit_-_right: 0;
  --layout-fit_-_bottom: 0;
  --layout-fit_-_left: 0;
  --layout-scroll_-_-webkit-overflow-scrolling: touch;
  --layout-scroll_-_overflow: auto;
  --layout-fullbleed_-_margin: 0;
  --layout-fullbleed_-_height: 100vh;
  --layout-fixed-top_-_position: fixed;
  --layout-fixed-top_-_top: 0;
  --layout-fixed-top_-_left: 0;
  --layout-fixed-top_-_right: 0;
  --layout-fixed-right_-_position: fixed;
  --layout-fixed-right_-_top: 0;
  --layout-fixed-right_-_right: 0;
  --layout-fixed-right_-_bottom: 0;
  --layout-fixed-bottom_-_position: fixed;
  --layout-fixed-bottom_-_right: 0;
  --layout-fixed-bottom_-_bottom: 0;
  --layout-fixed-bottom_-_left: 0;
  --layout-fixed-left_-_position: fixed;
  --layout-fixed-left_-_top: 0;
  --layout-fixed-left_-_bottom: 0;
  --layout-fixed-left_-_left: 0; */

  --lumo-font-size-m: 0.9rem;
  --cms-options-custom-elements-size: 100%;
  --cms-dynamic-element-margin: 5px;
  --cms-validation-error-color: red;
  --lumo-primary-color: hsla(0, 0%, 16%, 0.83);


  --cms-color-1: hsla(200, 3%, 22%, 1);
  --cms-color-2: hsla(204, 28%, 93%, 1);
  --cms-color-3: hsla(0, 14%, 81%, 1);
  --cms-color-4: hsla(207, 24%, 82%, 1);
  --cms-color-5: hsla(207, 73%, 69%, 1);

  --cms-color-warning: var(--cms-color-2);
  --cms-color-danger: #F24832;
  --cms-color-front: var(--cms-color-2);
  
  --cms-validation-error-color: var(--cms-color-danger);
  --lumo-primary-color: var(--cms-color-1);
  --lumo-primary-text-color: var(--cms-color-2);
  --cms-options-color: var(--cms-color-2);
  --primary-color: var(--cms-color-1) !important;
  --cms-options-bg-color: var(--cms-color-1);
  --cms-options-title-bg-color: var(--cms-color-1);
  --cms-options-dark-text-color: var(--cms-color-1);
  --cms-options-disabled: var(--cms-color-3);
  --blue: var(--cms-color-5) !important;

}

.btn-primary {
  background-color: var(--primary-color) !important;
  border: none !important;
}

.btn-warning {
  background-color: var(--cms-color-warning) !important;
  color: var(--cms-color-front) !important;
  border: none !important;
}

.btn-danger {
  background-color: var(--cms-color-danger) !important;
  color: var(--cms-color-front) !important;
  border: none !important;
}

.btn-secondary {
  background-color: var(--cms-color-warning) !important;
  color: var(--cms-color-1) !important;
  border: none !important;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--cms-options-font-family);
  scroll-behavior: smooth;
  line-height: 1;
}

.form-page {
  padding: 50px;
}

.form-page-footer {
  margin-top: 50px;
}

.page-title {
  font-size: 2rem;
  font-weight: 500;
}

.page-title-description {
}

.main-bgcolor {
  background-image: var(--gradient);
}
.light-color {
  color: var(--light) !important;
}
.grey-bgcolor {
  background: var(--grey);
}

.footer {
  position: absolute;
  bottom: 0px;
}

.size-full {
  width: 100%;
}

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
