<h1>Hi {{ name }}</h1>

<p>We received a request for changing your password. If you did not ask for it, please desconsider.</p>
<p>If you want to change your password, <a href="{{urlChangePassword}}">click here</a></p>
