<h2>{{i18n.page.header.title}}</h2>

<div class="form-group">
  <label for="username">{{i18n.page.form.username}}</label>
  <input type="text" [(ngModel)]="username" class="form-control"
    [ngClass]="{ 'is-invalid': submitted && f.username.errors }" autofocus />
  <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
    <div *ngIf="f.username.errors.required">{{i18n.page.errorMessage.required}}</div>
  </div>
</div>
<div class="form-group">
  <label for="password">{{i18n.page.form.password}}</label>
  <input type="password" [(ngModel)]="password" class="form-control" (keydown)="checkSubmit($event)"
    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
    <div *ngIf="f.password.errors.required">{{i18n.page.errorMessage.required}}</div>
  </div>
</div>
<div class="form-group">
  <label for="newPassword">{{i18n.page.form.newPassword}}</label>
  <input type="password" [(ngModel)]="newPassword" class="form-control" (keydown)="checkSubmit($event)"
    [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" />
  <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
    <div *ngIf="f.newPassword.errors.required">{{i18n.page.errorMessage.required}}</div>
  </div>
</div>
<div class="form-group">
  <label for="confirmNewPassword">{{i18n.page.form.confirmNewPassword}}</label>
  <input type="password" [(ngModel)]="confirmNewPassword" class="form-control" (keydown)="checkSubmit($event)"
    [ngClass]="{ 'is-invalid': submitted && f.confirmNewPassword.errors }" />
  <div *ngIf="submitted && f.confirmNewPassword.errors" class="invalid-feedback">
    <div *ngIf="f.confirmNewPassword.errors.required">{{i18n.page.errorMessage.required}}</div>
    <div *ngIf="f.confirmNewPassword.errors.match">{{i18n.page.errorMessage.match}}</div>
  </div>
</div>
<div class="form-group">
  <button class="btn btn-primary" (click)="changePasssword()">
    {{i18n.page.form.submit}}
  </button>
</div>
