<div class="form-group {{disabled ? 'disabled' : ''}}" #form>
  <label for="select" class="text-left label" *ngIf="label">
    {{label}}
  </label>
  <select name="select" class="form-control" [(ngModel)]="selectedData" [disabled]="disabled"
    [id]="id ? 'input_'+id : 'id'" (changed)="changed(selectedData)">
    <option value="">{{i18n.choose}}</option>
    <option *ngFor="let item of options" [(ngModel)]="item.field" ngDefaultControl>
      {{item.label}}</option>
  </select>
  <small class="validation-error" *ngIf="required && errorMessage && validate">{{errorMessage}}</small>
</div>
